<div class="layout-sidebar">
    <div class="layout-menu-container">
        <ul class="layout-menu">
            <li class="layout-root-menuitem">
                <a href="dashboard/logs">
                    <i></i>
                    <span>Logs</span>
                </a>
                <ul>
                    <li class="layout-submenu-item">
                        <a href="dashboard/logs/crag">
                            <i></i>
                            <span>Falesia</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="dashboard/logs/boulder">
                            <i></i>
                            <span>Bouldering</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="dashboard/logs/training">
                            <i></i>
                            <span>Allenamento</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="layout-root-menuitem">
                <a href="">
                    <i></i>
                    <span>List 2</span>
                </a>
                <ul>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 1</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 2</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 3</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>