<div class="layout-sidebar">
    <div class="layout-menu-container">
        <ul class="layout-menu">
            <li class="layout-root-menuitem">
                <div class="layout-menuitem-root-text">List 1</div>
                <ul>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 1</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 2</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 3</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="layout-root-menuitem">
                <div class="layout-menuitem-root-text">List 2</div>
                <ul>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 1</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 2</span>
                        </a>
                    </li>
                    <li class="layout-submenu-item">
                        <a href="">
                            <i></i>
                            <span>item 3</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>