.climbing-app-icon {
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
    display: block;

    svg {
        fill: inherit;
    }
}

.small-size {
    width: 20px;
    height: 20px;


}

.medium-size {
    width: 24px;
    height: 24px;
}