.layout-menu-dim {
    --menu-bg: #3C4962;
    --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, .06);
    --root-menuitem-text-color: #CDD2DB;
    --menuitem-text-color: #E5E8EC;
    --menuitem-hover-bg: #59667D;
    --active-menuitem-text-color: #ffffff;
    --active-menuitem-bg: #495771;
}




.layout-content-wrapper {
    padding-top: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .layout-container.layout-static .layout-content-wrapper {
        margin-left: 18rem;
        transition: margin-left 0.2s;
    }
}

@media screen and (min-width: 992px) {
    .layout-container.layout-static-inactive .layout-content-wrapper {
        margin-left: 0;
    }
}